.playground {
  border: thick black solid;
  border-collapse: collapse;
  max-width: 500px;
  max-height: 300px;
  overflow: auto;
  table-layout: fixed;
}

.playgroundWall, .playgroundSpace, .playgroundStart {
  border: thin black solid;
  width: 20px;
  height: 20px;
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height:20px;
  overflow: hidden;
}

.playgroundWall {
  background-color: black;
}

.playgroundSpace {
  background-color: lightgray;
}

.playgroundStart {
  background-color: green;
}

.playgroundOther {
  background-color: red;
}